#startingHeader {
    color:rgb(34, 256, 34);
    font-family: Arial, sans-serif;
    font-weight: bold;
    }

#site {
    background-color: darkolivegreen;
}

#siteMainBody {
    color: lightcyan;
    font-family: Arial, sans-serif;
}
